<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= @user.full_name %><br>
<%= @user.email %><br>
karma: <%= @user.karma %>

<div>
  Emails:
  <% @emails.each do |email| %>
    <div><%= email.subject %></div>
    <div><%= email.body %></div>
    <div><%= email.comment %></div>
  <% end %>
</div>