<% armen = @email.body %>

<% @comments.each do |c| %>
  <% armen.insert(c.char_ended_at, "</span>" ) %>

  <!-- HOW THE FUCK TO PUT VARIABLES IN HERE?! -->
  <% open_span = "<span class='commented #{c.id}' style='background-color: yellow;'> " %>
  <% armen.insert(c.char_began_at, open_span) %>

  <div class="" style="background: gray">

    <h2>
      <%= c.id %>
    </h2>

    <span class="posted-comments <%= c.id %>" style="background:pink; display: true;" id = "<%= c.id %>">
      <%= c.message %>
    </span>

  </div>
  
<% end %>

<div id="current-comment" style="background:orange;">current-comment</div>

<%= armen.html_safe %>
