<h1>Emails#new</h1>
<p>Find me in app/views/emails/new.html.erb</p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@email) do |f| %>
      <%#= render 'shared/error_messages' %>

      subject
      <%= f.text_field :subject %>
      <br>
      body
      <%= f.text_field :body %>
      <br>
      comment
      <%= f.text_field :comment%>


      <%= f.submit "Create my email", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
