<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.selection/1.0.1/jquery.selection.min.js"></script>

<div class="container-fluid" style="width: 100%">

  <div class="page-header">
    <h1><%= @email.user.full_name %>'s email</h1>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <table>
          <th>
            <tr>
              <th style="width:100px"></th>
              <th></th>
            </tr>
          </th>
          <tbody>
            <tr>
              <td>To: </td>
              <td>mylead@example.com</td>
            </tr>
            <tr>
              <td>From: </td>
              <td><%= @email.user.full_name %>'s email address</td>
            </tr>
            <tr>
              <td>Subject: </td>
              <td><%= @email.subject %> </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <br>
      </div>

      <div class="row" style="margin-bottom:110px">
        <div id="email-body" type="text" style="position:absolute; z-index:2; width:100%;"><%= @email.body %></div>
        <div id="commented-body" type="text" style=" z-index:1; position:absolute; width: 100%;" ><%= @email.render_comments %></div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="row">
        <div style="display:none; background-color:#FCF0AD; padding: 10px;" id="current-comment-carrier">
          <h2>Comments</h2>
          <div class="modal-body" id="current-comment">
            
          </div>
          <span></span>
        </div>
        <div class="row" >

          <div style="display: none; width: 100%; border-style:none;" id="new-comment">

            <br>
            
            <%= form_for(@comment, :html => { :style => 'width:100%' }) do |f| %>

              <%= render partial: "shared/error_messages", locals: {item: @comment} %>

              <%= f.hidden_field :email_id, value: params[:id]  %>
              <%= f.hidden_field :user_id, value: current_user.id  %>
              <%= f.hidden_field :char_began_at %>
              <%= f.hidden_field :char_ended_at %>
              <%= f.text_area :message, cols: 50, rows: 10, placeholder: "How could they improve this?" %>
              
              <br>
              <%= f.submit "Leave Comment", class: "btn btn-primary" %>
            <% end %>
            
          </div>
        </div>
      </div>
      
      <div class="row">
        <h2>Email Should...</h2>
      </div>
      <div class="row" style="padding-top:10px;">
        <%= @email.comment %>
      </div>
    </div>
  </div>
  <br>
  
</div>

<br><br><br><br><br><br><br><br>
