<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.selection/1.0.1/jquery.selection.min.js"></script>

<div class="container-fluid">

  <div class="page-header">
    <h1><%= @email.user.full_name %>'s email <small>RED IS WRITE</small></h1>
  </div>


<h3><div id="current-comment" style="background:orange;">current-comment</div></h3>

  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-9">
      <table>
        <th>
          <tr>
            <th style="width:100px"></th>
            <th></th>
          </tr>
        </th>
        <tbody>
          <tr>
            <td>To: </td>
            <td>mylead@example.com</td>
          </tr>
          <tr>
            <td>From: </td>
            <td><%= @email.user.full_name %>'s email address</td>
          </tr>
          <tr>
            <td>Subject: </td>
            <td><%= @email.subject %> </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3"><h3>Purpose</h3></div>
  </div>
  <br>
  <div class="row">
    <div  id="email-body" type="text" style="position:absolute; z-index:2;"><%= @email.body %></div>

    <!-- MARKED UP ONE -->
    <div id="commented-body" type="text" style=" z-index:1; position:absolute;" ><%= @email.render_comments %></div>
    <div class="col-md-4">
      <%= @email.comment %>
    </div>

  </div>
</div>
<br><br><br><br><br><br><br><br>
<div class="modal-content" style="display: none;" id="new-comment">
  <div class="modal-body">
    <div style="background:red;" >
      <%= form_for(@comment) do |f| %>

        <%= f.hidden_field :email_id, value: params[:id]  %>
        <%= f.hidden_field :user_id, value: current_user.id  %>
        <br>
        comment
        <%= f.text_area :message %>
        <br>began
        <%= f.text_field :char_began_at %>
        <br>ended
        <%= f.text_field :char_ended_at %>
        <br>
        <%= f.submit "Create my email", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>