<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Defrosted", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Blog", blog_path %></li>
        
        <% if logged_in? %>
          <li>
            <%= link_to "Profile", user_path(current_user.id) %>
          </li>
        <% end %>

        <% if !logged_in? %>
          <li>
            <%= link_to "Get Your Email Copy Reviewed!", login_path, style: "margin:12px; padding:1px; color:white;background-color:#307473;",class: "btn " %>
          </li>
        <% else %>
          <li>
            <%= link_to "Get Your Email Copy Reviewed!", new_email_path, style: "margin:12px; padding:1px; color:white;background-color:#307473;",class: "btn " %>
          </li>
        <% end %>

        <% if !logged_in? %>
          <li>
            <%= link_to "Review Copy", login_path, class: "btn " %>
          </li>
        <% else %>
          <li>
            <%= link_to "Review Copy", emails_path, class: "btn " %>
          </li>
        <% end %>

        <% if logged_in? %>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>

        
        
      </ul>
    </nav>
  </div>
</header>